@use "@/styles/helpers/_all" as *;

.auth{

	display: grid;
	grid-template-columns: 1fr;
	min-height: 100vh;
	
	&--aside{
		display: none;
		align-self: center;
		justify-self: center;
	}

	@include is-("pc"){
		grid-template-columns: 1fr 1fr;
		.auth-aside{
			display: block;
		}
	}

	&--container{
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: center;
	}
	
}


