@use "@/styles/base/_const" as *;

$breakpoints: (
	"mobile": $bp-mobile,
	"tablet": $bp-tablet,
	"pc": $bp-pc,
	"desktop": $bp-desktop,
);

@mixin is-($name){
	$bp : map-get($map: $breakpoints, $key: $name);
	@media (min-width: $bp) {
		@content;
	}
}

@mixin scheme-($theme){
	@media (prefers-color-scheme: $theme){
		@content;
	}
}

@each $name,$bp in $breakpoints{
	.show-#{$name}{		
		@media (max-width: calc($bp - 1px)){
			display: none;
		}
	}	
}

