.is-clickable{
	cursor: pointer !important;
}

.is-draggable{
  cursor: move !important;
}

.is-transparent{
  background-color: transparent !important;
}

.is-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
