.sidebar{

  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;

  &__user{
    //as item
    flex: 0 0 content;
    //as container
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    justify-items: stretch;
    //gap
    gap: .5em 0;
    
    &__avatar{
      flex: 0 0 48px;
    }

    &__name{
      flex: 1 0 max-content;
      padding-left: 1.0em;
    }

    &__description{
      flex: 1 0 100%;
      justify-self: stretch;
    }

    &__action{
      flex: 0 0 45%;
    }
  }

  &__menus{
    flex: 1 0 auto;
    &__menu{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__footer{
    flex: 0 0 content;
    text-align: center;
    margin: 0 auto;
    
  }
}