@use "sass:color";

@mixin layer($base_color:#fff,$opacity:0.1){

  position: relative;
  &::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $base_color;
    opacity: $opacity;
  }
}

