.signup{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	&--form{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		row-gap: 8px;
		width: clamp(var(--breakpoint-mobile), 80%, var(--breakpoint-tablet));


	}
}