@use "@/styles/base/_const" as *;

.input{

	border: $border-width solid var(--color-outline);
	&::placeholder{
		color: var(--color-placeholder);		
	}

	//focus ring
	&:focus-visible{
		outline: var(--color-outline) solid 1px;
	}
}


