@use "../_variables" as *;
@use "../helpers/_all" as helper;

%headline{
	width: fit-content;
	background: linear-gradient(to right ,rgb(92,220,248) 0%, rgb(236,21,188) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;		  
}

/*headline*/
.headline{
	@extend %headline;	
	font-size: 3.75rem;
	letter-spacing: -.04em;
}

.headline-2{
	color: $text-color;
	font-size: 2.5rem;
	letter-spacing: -0.02em;
	&--invert{
		@extend .headline-2;
		color: $text-invert-color;
	}
}

/*title*/
.title{
	color: $text-color;
	font-size: 1.75rem;
	font-weight: 600;
	&--invert{
		@extend .title;
		color: $text-invert-color;
	}
}


.body{
	color: $text-color;
	font-size: 1.0rem;
	&--invert{
		@extend .body;
		color: $text-invert-color;
	}
}

.button{
	color: $text-color;
	font-size: 1.25rem;
	font-weight: bolder;
	line-height: 1.5;
	letter-spacing: 0.05em;
	&--invert{
		@extend .button;
		color: $text-invert-color;
	}
}

.label{
	color: $text-color;
	font-size: 0.85rem;
	font-weight: 300;
	line-height: 1.25;		
	letter-spacing: 0.025em;
	&--invert{
		@extend .label;
		color: $text-invert-color;
	}
}

