//colors
$primary-color: #1A83FF;
$accent-color: #7902D7;

$text-color: #101010;
$text-invert-color: white;

$label-color: #404040;
$placeholder-color: #878787;

$background-color: white;
$background-invert-color: #232323;

/*:root{
	--primary-color: #232323;
	--text-color: #101010;
	--label-color: #404040;
	--placeholder-color: #878787;
	--background-color: white;
	//invert
	--text-color-invert: white;
	--background-color-invert: #232323;
}*/

//breakpoint
$tablet: 720px;
$pc: 1024px;
$desktop: 1280px;


$breakpoints: (
	"mobile": 0px,
	"tablet": $tablet,
	"pc": $pc,
	"desktop": $desktop
) !default;

