
.form-input{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	
	&--invert .label{
		color: white;
	}
			
	.label{
		text-align: left;
		&:has(+ .input){
			margin-bottom: 0.25em;
			text-indent: .25em;
		}
	}
}